*{
    margin: 0;
    padding: 0;
}
.all{
    background: url(img/bg.jpg) no-repeat;
    width: 100%;;
    height: 800px;
    background-size: 100% 100%;
}

.all .start img{
    width: 170px;
    height: 120px;
    position: absolute;
    top: 340px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#play{
    width: 100%;
    height: 100%;
    display: block;
}
#play .noplay .second{
    display: none;
}
#play .score{   
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translatex(-50%);
}
#play .main{
    position: absolute;
    width: 39%;
    height: 39%;
    left: 30.5%;
    top: 38%;
    border: 1px solid #000;
}
.over{
    background: #000;
    width: 30%;
    height: 30%;
    margin: auto;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translatex(-50%) translateY(-50%);
    z-index: 1;
    display: none;
}
.over .none img{
    width: 20px;;
    height: 20px;
    float: right;
}
.over .look{ 
    background: url(img/startP.jpg);
    background-size: 100% 100%;
    height: 100%;
}
.over .get span{
    position: absolute;
    top: 40%;
    left: 40%;
}