#header{
    height: 32px;
    font-size: 12px;
    background: #ccc;
}
#header a{
    margin: 0 14px;
}
#header a:hover{
    color: red;
}
#warpper span, #header a{
    line-height: 32px;
    color: #999;
}
#warpper-left{
    float:left;
}
#warpper-right{
    float: right;
}
#warpper-right li{
    float: left;
}